* , *:befor , *:after  {
	box-sizing: border-box;
}
body{
    font-family: $font-family-base;
}

img {
	display: block;   /* 去除圖片底下的2-3px空白 */
	max-width: 100%; 
	height: auto;
}

.text-center{
    text-align: center;
}

.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-flex-end{
    justify-content: flex-end;
}

.align-item-center{
    align-items: center;
}

.align-items-baseline{
    align-items: baseline;
}

.d-flex{
    display: flex;
}

.flex-row-reverse{
    flex-direction: row-reverse;
}




