.banner{
    background: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner.png) center center;
    height: 840px;
    background-size:cover;
    color: $danger;
    .banner-text{
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
    }
    & h4{
        font-size: $font-h4;
        line-height: 54px;
    }
    & p{
        font-size: 64px;
        line-height: 96px;
        font-weight: bold;
    }
}

@media (max-width:1180px){
    .banner-text{
        padding: 0 30px;
    }
}
@include desktop{
    .banner{
        height: 840px;
        .banner-text{
            & h4{
                font-size: $font-h6;
                line-height: 30px;
            }
            & p{
                font-size: $font-h3;
                line-height: 72px;
            }
        }
    }
}
@include mobile{
    .banner{
        height: 394px;
        .banner-text{
            & h4{
                font-size: $font-h7;
                line-height: 30px;
            }
            & p{
                font-size: 32px;
                line-height: 72px;
            }
        }
    }
}

//第一屏 introduce//

.introduce{
    background-color: $secondary;
    height: auto;
    h3{
        font-size: $font-h3;
        line-height: 72px;
        color: $danger;
        font-weight: bold;
        text-align: center;
    }
    .introduce-box{
        padding: 60px 0 80px 0;
        .introduce-icon{
            padding-top: 48px;
            flex-wrap:wrap;
            justify-content: space-around;
            & img{
                width: 100px;
                height: 100px;
            }
            & li{
               flex-direction: column;
               width: 22%;
            }
            & h5{
               font-size: $font-h5;
               line-height: 36px;
               color: $danger;
               font-weight: bold;
               padding-top: 24px;
            }
            & p{
               font-size: $font-h7;
               line-height: 24px;
               padding-top: 8px;
               text-align:justify
            }
        }
        
    }
}
@include mobile{
    .introduce{
        h3{
            font-size: 32px;
        }
        .introduce-box{
            flex-wrap: wrap;
            padding: 60px 0 37px 0;
            .introduce-icon{
                padding-top: 40px;
                & li{
                    width: 37%;
                    padding-bottom: 40px;
                }
            }
        } 
    } 
}

@include smobile{
    .introduce{
        h3{
            font-size: $font-h5;
        }
        .introduce-box{
            flex-wrap: wrap;
            padding: 32px 0 0 0;
            .introduce-icon{
                padding-top: 28px;
                & li{
                    width: 80%;
                    padding-bottom: 40px;
                }
            }
        } 
    } 
}

//第二屏 classic//

.classic-box{
    padding: 60px 0 48px 0;
    h3{
        font-size: $font-h3;
        line-height: 72px;
        color: $danger;
        font-weight: bold;
        text-align: center;
    }
    .classic-photo{
        flex-direction: column;
        padding-top: 40px;
        li{
            padding-bottom: 32px;
        }
        & p{
            font-size: $font-h3;
            color: $primary;
            line-height: 72px;
            font-weight: 900;
            font-style: italic;
            padding-right: 30px;
        }
        & img{
            width: 57%;
        }
        .classic-text{
            padding-left: 30px;
            & img{
                padding-right: 8px;
            }
        }

    }
}

@include desktop{
    .classic-box{
        .classic-photo{
            padding: 40px 20px 0 20px;
            & p{
                font-size: $font-h4;
                line-height: 54px;
            }
            & img{
                width: 52%;
            }
        }
    } 
}

@include mobile{
    .classic-box{
        .classic-photo{
            padding: 40px 20px 0 20px;
            & li{
                padding-bottom: 8px;
            }
            & p{
                font-size: 28px;
                line-height: 72px;
            }
            & img{
                width: 52%;
            }
            .sunglasses{
                flex-direction: row-reverse;
            }
            .classic-text{
                & img{
                    width: 36px;
                    height: 36px;
                }
            }
        }
    } 
}

@media (max-width:580px){
    .classic-box{
        .classic-photo{
            padding: 40px 20px 0 20px;
            & li{
                padding-bottom: 8px;
                position: relative;
            }
            & p{
                font-size: 28px;
                line-height: 72px;
            }
            & img{
                width: 100%;
            }
            .sunglasses{
                flex-direction: row-reverse;
            }
            .classic-text{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding-left: 0;
                & img{
                    width: 36px;
                    height: 36px;
                }
            }
        }
    } 
}

//第三屏 design //
.mr-30{
    margin-right: 30px;
}
.design{
    background: url(https://hexschool.github.io/webLayoutTraining1st/week3/bg.png) no-repeat;
    height: auto;
    background-size: cover;
    padding: 80px 20px 60px 20px;
    .design-box{
        h3{
            font-size: $font-h3;
            line-height: 72px;
            color: $white;
            font-weight: bold;
            text-align: center;
        } 
        .design-text{
            padding-top: 40px;
            .design-photo-left{
                padding-right: 30px;
            }
            & li{
                position: relative;
            }
            & a{
                &::before{
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    display: inline-block;
                    background: rgba(255,255,255,.5);
                }
            }
            & img{
                width: 100%;
            }
            & p{
                font-size: $font-h2;
                color: $primary;
                line-height: 108px;
                font-weight: 700;
                position: absolute;    
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%); 
                width: 100%;
            }
        }
    }
}

@include desktop{
    .design{
        .design-box{
            h3{
                font-size: 32px;
                line-height: 48px;
            } 
            .design-text{
                & li{
                    width: 90%;
                }
                & p{
                    font-size: 32px;
                    line-height: 43px;
                }
            }
        }
    }
}

@include mobile{
    .mr-30{
        margin-right: 0;
        margin-bottom: 16px;
    }
    .design{
        padding: 32px 20px 40px 20px;
        .design-box{
            h3{
                font-size: $font-h6;
                line-height: 30px;
            } 
            .design-text{
                flex-wrap: wrap;
                padding-top: 20px;
                & li{
                    width: 100%;
                }
                & p{
                    font-size: 32px;
                    line-height: 43px;
                }
            }
        }
    }
}

//第四屏 recommend//
.recommend-box{
    padding: 60px 20px 80px 20px;
    h3{
        font-size: $font-h3;
        line-height: 72px;
        color: $danger;
        font-weight: bold;
        text-align: center;
    }
    .rec-item{
        padding-top: 40px;
        & li{
            width: 23%;
            border-radius: 5px;
            box-shadow: 3px 3px 7px #3333;
        }
        & img{
            border-radius: 5px 5px 0 0;
        }
        .rec-info{
            padding:16px;
            flex-direction: column;
            height: 200px;
        }
        .rec-name{
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            color: $darkgray;
        }
        .rec-text{
            font-size: $font-h7;
            line-height: 24px;
            color: $darkgray;
            text-align: justify;
            padding-top: 8px;
        }
        .rec-date{
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: $lightgray;
        }
    }
}

@include desktop{
    .recommend-box{
        padding: 60px 40px 24px 40px;
        h3{
            font-size: 32px;
            line-height: 48px;
        }
        .rec-item{
            padding-top: 32px;
            flex-wrap: wrap;
            & img{
                width: 100%;
            }
            & li{
                width: 48%;
                margin-bottom: 32px;
            }
            .rec-info{
                height: 150px;
            }
        }
    } 
}

@include mobile{
    .recommend-box{
        padding: 60px 40px 24px 40px;
        h3{
            font-size: 20px;
            line-height: 30px;
        }
        .rec-item{
            padding-top: 20px;
            & li{
                width: 100%;
                margin-bottom: 16px;
            }
            .rec-info{
                height: 150px;
            }
        }
    } 
}

// 最後一屏 聯絡我們 //

.contact{
    background-color: $secondary;
    height: auto;
    .contact-box{
        max-width: 730px;
        margin: 0 auto;
        padding: 60px 20px 80px 20px;
    }
    h3{
        font-size: $font-h3;
        line-height: 72px;
        font-weight: bold;
        text-align: center;
    }
    h6{
        font-size: $font-h6;
        line-height: 30px;
        padding-top: 24px;
    }
    .contact-form{
        flex-direction: column;
        width: 100%;
        padding-top: 20px;
        & label{
            font-size: $font-h7;
            line-height: 24px;  
        }
        & input{
            padding: 14px 0 14px 16px;
            margin-top: 4px;
            font-size: $font-h7;
            line-height: 24px; 
            border: 1px solid #000000;
            background: transparent;
            &:focus{
                outline: 0;
                border: 1px solid $primary;
            }
        }
        & textarea{
            background: transparent;
            border: 1px solid #000000;
            padding: 14px 0 14px 16px;
            margin-top: 4px;
            &:focus{
                outline: 0;
                border: 1px solid $primary;
            }
        }
    }
    .contact-checkbox{
        padding-top: 16px;
        padding-bottom: 40px;
        & span{
            padding-left: 4px;
            font-size: $font-h7;
            line-height: 24px;
        }
    }
    .btn-submit{
        width: 50%;
        font-size: $font-h7;
        line-height: 24px; 
        color: $white;
        background-color: $primary;
        padding: 16px 0;
        border: none;
        display: block;
        margin: 0 auto;
        &:hover{
            background-color: $danger;
        }
    }
}

@include desktop{
    .contact{
        .contact-box{
            max-width: 450px;
            padding: 40px 20px 56px 20px;
        }
        h3{
            font-size: 32px;
            line-height: 48px;
        }
        h6{
            font-size: $font-h7;
            line-height: 24px;
        }
        .contact-form{
            & label{
                font-size: 14px;
                line-height: 21px;  
            }
            & input{
                padding: 8px 0 8px 12px;
                font-size: 14px;
                line-height: 21px; 
            }
        }
        .contact-checkbox{
            padding-bottom: 20px;
            & span{
                font-size: 14px;
                line-height: 21px;  
            }
        }
        .btn-submit{
            width: 40%;
            font-size: 14px;
            line-height: 21px;
            padding: 10px 0;
        }
    }
}

@include mobile{
    .contact{
        .contact-box{
            max-width: 345px;
            padding: 30px 20px 40px 20px;
        }
        h3{
            font-size: $font-h6;
            line-height: 30px;
        }
        .btn-submit{
            width: 60%;
        }
    }
}