$font-family-base: Roboto, "Noto Sans TC", sans-serif;


//color
$primary:#AA0601; //深紅色_主色
$warning:#9F1213; //大標標示線
$danger:#650300;  //深咖啡＿字
$white:#fff; //白(字)
$secondary:#FBF2F2; //淺粉紅_背景
$darkgray:#212529; //深灰色_字
$lightgray:#707070; //淺灰色_字

//font
$font-h2:72px;
$font-h3:48px;
$font-h4:36px;
$font-h5:24px;
$font-h6:20px;
$font-h7:16px;


