@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:befor, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: Roboto, "Noto Sans TC", sans-serif; }

img {
  display: block;
  /* 去除圖片底下的2-3px空白 */
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-content-flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.align-item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.wrap {
  max-width: 1110px;
  margin: 0 auto; }

.container {
  max-width: 1110px;
  margin: 0 auto; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.banner {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner.png) center center;
  height: 840px;
  background-size: cover;
  color: #650300; }
  .banner .banner-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 100%; }
  .banner h4 {
    font-size: 36px;
    line-height: 54px; }
  .banner p {
    font-size: 64px;
    line-height: 96px;
    font-weight: bold; }

@media (max-width: 1180px) {
  .banner-text {
    padding: 0 30px; } }

@media (max-width: 992px) {
  .banner {
    height: 840px; }
    .banner .banner-text h4 {
      font-size: 20px;
      line-height: 30px; }
    .banner .banner-text p {
      font-size: 48px;
      line-height: 72px; } }

@media (max-width: 767px) {
  .banner {
    height: 394px; }
    .banner .banner-text h4 {
      font-size: 16px;
      line-height: 30px; }
    .banner .banner-text p {
      font-size: 32px;
      line-height: 72px; } }

.introduce {
  background-color: #FBF2F2;
  height: auto; }
  .introduce h3 {
    font-size: 48px;
    line-height: 72px;
    color: #650300;
    font-weight: bold;
    text-align: center; }
  .introduce .introduce-box {
    padding: 60px 0 80px 0; }
    .introduce .introduce-box .introduce-icon {
      padding-top: 48px;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      .introduce .introduce-box .introduce-icon img {
        width: 100px;
        height: 100px; }
      .introduce .introduce-box .introduce-icon li {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 22%; }
      .introduce .introduce-box .introduce-icon h5 {
        font-size: 24px;
        line-height: 36px;
        color: #650300;
        font-weight: bold;
        padding-top: 24px; }
      .introduce .introduce-box .introduce-icon p {
        font-size: 16px;
        line-height: 24px;
        padding-top: 8px;
        text-align: justify; }

@media (max-width: 767px) {
  .introduce h3 {
    font-size: 32px; }
  .introduce .introduce-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 60px 0 37px 0; }
    .introduce .introduce-box .introduce-icon {
      padding-top: 40px; }
      .introduce .introduce-box .introduce-icon li {
        width: 37%;
        padding-bottom: 40px; } }

@media (max-width: 414px) {
  .introduce h3 {
    font-size: 24px; }
  .introduce .introduce-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 32px 0 0 0; }
    .introduce .introduce-box .introduce-icon {
      padding-top: 28px; }
      .introduce .introduce-box .introduce-icon li {
        width: 80%;
        padding-bottom: 40px; } }

.classic-box {
  padding: 60px 0 48px 0; }
  .classic-box h3 {
    font-size: 48px;
    line-height: 72px;
    color: #650300;
    font-weight: bold;
    text-align: center; }
  .classic-box .classic-photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 40px; }
    .classic-box .classic-photo li {
      padding-bottom: 32px; }
    .classic-box .classic-photo p {
      font-size: 48px;
      color: #AA0601;
      line-height: 72px;
      font-weight: 900;
      font-style: italic;
      padding-right: 30px; }
    .classic-box .classic-photo img {
      width: 57%; }
    .classic-box .classic-photo .classic-text {
      padding-left: 30px; }
      .classic-box .classic-photo .classic-text img {
        padding-right: 8px; }

@media (max-width: 992px) {
  .classic-box .classic-photo {
    padding: 40px 20px 0 20px; }
    .classic-box .classic-photo p {
      font-size: 36px;
      line-height: 54px; }
    .classic-box .classic-photo img {
      width: 52%; } }

@media (max-width: 767px) {
  .classic-box .classic-photo {
    padding: 40px 20px 0 20px; }
    .classic-box .classic-photo li {
      padding-bottom: 8px; }
    .classic-box .classic-photo p {
      font-size: 28px;
      line-height: 72px; }
    .classic-box .classic-photo img {
      width: 52%; }
    .classic-box .classic-photo .sunglasses {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
    .classic-box .classic-photo .classic-text img {
      width: 36px;
      height: 36px; } }

@media (max-width: 580px) {
  .classic-box .classic-photo {
    padding: 40px 20px 0 20px; }
    .classic-box .classic-photo li {
      padding-bottom: 8px;
      position: relative; }
    .classic-box .classic-photo p {
      font-size: 28px;
      line-height: 72px; }
    .classic-box .classic-photo img {
      width: 100%; }
    .classic-box .classic-photo .sunglasses {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
    .classic-box .classic-photo .classic-text {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      padding-left: 0; }
      .classic-box .classic-photo .classic-text img {
        width: 36px;
        height: 36px; } }

.mr-30 {
  margin-right: 30px; }

.design {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/bg.png) no-repeat;
  height: auto;
  background-size: cover;
  padding: 80px 20px 60px 20px; }
  .design .design-box h3 {
    font-size: 48px;
    line-height: 72px;
    color: #fff;
    font-weight: bold;
    text-align: center; }
  .design .design-box .design-text {
    padding-top: 40px; }
    .design .design-box .design-text .design-photo-left {
      padding-right: 30px; }
    .design .design-box .design-text li {
      position: relative; }
    .design .design-box .design-text a::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      display: inline-block;
      background: rgba(255, 255, 255, 0.5); }
    .design .design-box .design-text img {
      width: 100%; }
    .design .design-box .design-text p {
      font-size: 72px;
      color: #AA0601;
      line-height: 108px;
      font-weight: 700;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 100%; }

@media (max-width: 992px) {
  .design .design-box h3 {
    font-size: 32px;
    line-height: 48px; }
  .design .design-box .design-text li {
    width: 90%; }
  .design .design-box .design-text p {
    font-size: 32px;
    line-height: 43px; } }

@media (max-width: 767px) {
  .mr-30 {
    margin-right: 0;
    margin-bottom: 16px; }
  .design {
    padding: 32px 20px 40px 20px; }
    .design .design-box h3 {
      font-size: 20px;
      line-height: 30px; }
    .design .design-box .design-text {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding-top: 20px; }
      .design .design-box .design-text li {
        width: 100%; }
      .design .design-box .design-text p {
        font-size: 32px;
        line-height: 43px; } }

.recommend-box {
  padding: 60px 20px 80px 20px; }
  .recommend-box h3 {
    font-size: 48px;
    line-height: 72px;
    color: #650300;
    font-weight: bold;
    text-align: center; }
  .recommend-box .rec-item {
    padding-top: 40px; }
    .recommend-box .rec-item li {
      width: 23%;
      border-radius: 5px;
      -webkit-box-shadow: 3px 3px 7px #3333;
              box-shadow: 3px 3px 7px #3333; }
    .recommend-box .rec-item img {
      border-radius: 5px 5px 0 0; }
    .recommend-box .rec-item .rec-info {
      padding: 16px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 200px; }
    .recommend-box .rec-item .rec-name {
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      color: #212529; }
    .recommend-box .rec-item .rec-text {
      font-size: 16px;
      line-height: 24px;
      color: #212529;
      text-align: justify;
      padding-top: 8px; }
    .recommend-box .rec-item .rec-date {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #707070; }

@media (max-width: 992px) {
  .recommend-box {
    padding: 60px 40px 24px 40px; }
    .recommend-box h3 {
      font-size: 32px;
      line-height: 48px; }
    .recommend-box .rec-item {
      padding-top: 32px;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .recommend-box .rec-item img {
        width: 100%; }
      .recommend-box .rec-item li {
        width: 48%;
        margin-bottom: 32px; }
      .recommend-box .rec-item .rec-info {
        height: 150px; } }

@media (max-width: 767px) {
  .recommend-box {
    padding: 60px 40px 24px 40px; }
    .recommend-box h3 {
      font-size: 20px;
      line-height: 30px; }
    .recommend-box .rec-item {
      padding-top: 20px; }
      .recommend-box .rec-item li {
        width: 100%;
        margin-bottom: 16px; }
      .recommend-box .rec-item .rec-info {
        height: 150px; } }

.contact {
  background-color: #FBF2F2;
  height: auto; }
  .contact .contact-box {
    max-width: 730px;
    margin: 0 auto;
    padding: 60px 20px 80px 20px; }
  .contact h3 {
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    text-align: center; }
  .contact h6 {
    font-size: 20px;
    line-height: 30px;
    padding-top: 24px; }
  .contact .contact-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding-top: 20px; }
    .contact .contact-form label {
      font-size: 16px;
      line-height: 24px; }
    .contact .contact-form input {
      padding: 14px 0 14px 16px;
      margin-top: 4px;
      font-size: 16px;
      line-height: 24px;
      border: 1px solid #000000;
      background: transparent; }
      .contact .contact-form input:focus {
        outline: 0;
        border: 1px solid #AA0601; }
    .contact .contact-form textarea {
      background: transparent;
      border: 1px solid #000000;
      padding: 14px 0 14px 16px;
      margin-top: 4px; }
      .contact .contact-form textarea:focus {
        outline: 0;
        border: 1px solid #AA0601; }
  .contact .contact-checkbox {
    padding-top: 16px;
    padding-bottom: 40px; }
    .contact .contact-checkbox span {
      padding-left: 4px;
      font-size: 16px;
      line-height: 24px; }
  .contact .btn-submit {
    width: 50%;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    background-color: #AA0601;
    padding: 16px 0;
    border: none;
    display: block;
    margin: 0 auto; }
    .contact .btn-submit:hover {
      background-color: #650300; }

@media (max-width: 992px) {
  .contact .contact-box {
    max-width: 450px;
    padding: 40px 20px 56px 20px; }
  .contact h3 {
    font-size: 32px;
    line-height: 48px; }
  .contact h6 {
    font-size: 16px;
    line-height: 24px; }
  .contact .contact-form label {
    font-size: 14px;
    line-height: 21px; }
  .contact .contact-form input {
    padding: 8px 0 8px 12px;
    font-size: 14px;
    line-height: 21px; }
  .contact .contact-checkbox {
    padding-bottom: 20px; }
    .contact .contact-checkbox span {
      font-size: 14px;
      line-height: 21px; }
  .contact .btn-submit {
    width: 40%;
    font-size: 14px;
    line-height: 21px;
    padding: 10px 0; } }

@media (max-width: 767px) {
  .contact .contact-box {
    max-width: 345px;
    padding: 30px 20px 40px 20px; }
  .contact h3 {
    font-size: 20px;
    line-height: 30px; }
  .contact .btn-submit {
    width: 60%; } }

.header {
  height: 108px;
  background-color: #AA0601;
  padding: 0 88px; }
  .header .logo a {
    background: url(https://hexschool.github.io/webLayoutTraining1st/week3/logo.png) no-repeat;
    width: 80px;
    height: 48.57px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap; }
  .header .nav-bar li {
    padding-left: 64px;
    color: #fff;
    font-size: 20px;
    line-height: 30px; }
    .header .nav-bar li a {
      display: block;
      color: #fff;
      text-decoration: none; }
      .header .nav-bar li a:hover {
        border-bottom: 1px solid white;
        padding: 7px 0; }

@media (max-width: 992px) {
  .header {
    padding: 0 39px; }
    .header .nav-bar li {
      padding-left: 40px; } }

@media (max-width: 767px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    height: auto; }
    .header .logo {
      padding: 10px 0; }
      .header .logo a {
        background: url(https://firebasestorage.googleapis.com/v0/b/tzuhui-10c1e.appspot.com/o/others%2F202004%2F1587551913424-logo-new_%E5%B7%A5%E4%BD%9C%E5%8D%80%E5%9F%9F%201.png?alt=media&token=7f7e11bb-8470-4bec-8b77-ebda26cb6a76) no-repeat;
        width: 48px;
        height: 30px; }
    .header .nav-bar {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%; }
      .header .nav-bar li {
        padding: 0;
        outline: 1px solid #ffffff;
        width: 50%;
        line-height: 27px; }
        .header .nav-bar li a {
          padding: 8px 0; } }

.footer-container {
  padding: 30px 20px; }

.footer {
  background-color: #AA0601;
  height: auto; }
  .footer .menu .menu-bar li {
    padding-right: 48px; }
  .footer .menu .menu-bar a {
    font-size: 16px;
    color: #fff;
    text-decoration: none; }
    .footer .menu .menu-bar a:hover {
      border-bottom: 1px solid white;
      padding: 7px 0; }
  .footer .social li {
    padding-left: 32px; }
  .footer .social a:hover {
    opacity: 0.8; }
  .footer .footer-about {
    padding: 36px 0 24px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
    .footer .footer-about .phone {
      padding-bottom: 16px; }
    .footer .footer-about a {
      text-decoration: none; }
    .footer .footer-about img {
      width: 40px;
      padding-right: 20px; }
    .footer .footer-about p {
      font-size: 36px;
      color: #fff;
      line-height: 54px; }
  .footer .hr {
    margin: 0 auto; }
  .footer .copyright {
    padding-top: 32px;
    font-size: 16px;
    color: #fff;
    line-height: 24px; }
    .footer .copyright .copyright-link li {
      padding-left: 48px; }
    .footer .copyright .copyright-link a {
      color: #fff;
      text-decoration: none;
      font-size: 14px; }
      .footer .copyright .copyright-link a:hover {
        border-bottom: 1px solid white;
        padding: 5px 0; }

@media (max-width: 992px) {
  .footer-container {
    padding: 30px 15px; }
  .footer .menu .menu-bar li {
    padding-right: 40px; }
  .footer .social img {
    width: 24px; }
  .footer .footer-about {
    padding: 18px 0 20px 0; }
    .footer .footer-about .phone {
      padding-bottom: 12px; }
    .footer .footer-about img {
      width: 18px;
      padding-right: 11px; }
    .footer .footer-about p {
      font-size: 20px;
      color: #fff;
      line-height: 30px; }
  .footer .copyright {
    padding-top: 24px; } }

@media (max-width: 767px) {
  .footer-container {
    padding: 24px 15px; }
  .footer .menu-bar {
    display: none; }
  .footer .menu {
    float: right;
    padding-top: 2px; }
  .footer .footer-about {
    padding: 0 0 20px 0; }
  .footer .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 16px; }
    .footer .copyright p {
      padding-bottom: 8px; }
    .footer .copyright .copyright-link {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footer .copyright .copyright-link li {
        padding-left: 0;
        padding-bottom: 8px; } }

/*# sourceMappingURL=all.css.map */
